token = "tfc-access-token" # Required
org = "org-name" # Required
project = "project-id" # Optional
output = "production.json" # Optional with default 'results.json'
log = "info" # Optional with default 'info'
terr

[workspaces.query] # Required but can be left empty
name = "aws-" # Optional

[[workspaces.query.tags]] # Optional
operator = "NotContains" # Required
name = "team:" # Required

[[workspaces.query.variables]] # Optional
key = "mode" # Required
operator = "Contains" # Required
value = "prod" # Required

[[workspaces.query.variables]] # Optional
key = "status" # Required
operator = "NotEqual" # Required
value = "migrating" # Required

[pagination] # Optional
start_page = "1" # Optional with default of `1` (first page)
max_depth = "1" # Optional with default of `1` (first page only), 0 for all
page_size = "20" # Optional with default of `20` (20 items per page)
